.count {
  margin-top: 93px;
  padding-top: 43px;
  padding-bottom: 49px;
  background: linear-gradient(
    90deg,
    rgba(255, 192, 0, 1) 0%,
    rgba(255, 138, 0, 1) 92%
  );
  p {
    color: #fff;
  }
  &__counter {
    text-align: center;
  }
  &__number {
    font-size: 2.5rem;
    font-family: $proxima-font-black;
    line-height: 150.7%;
    margin-top: 15px;
    margin-bottom: 0;
  }
  &__text {
    font-size: 0.875rem;
    font-family: $proxima-font-regular;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .count {
    padding-bottom: 19px;
  }
  .count__counter {
    margin-bottom: 30px;
  }
}
