$orange-solid: #ff8a00;
$dark-solid: #5c5c5c;
$orange-gradient-rigth-to-left: linear-gradient(
  236.12deg,
  #ffc000 1.55%,
  #ff8a00 95.8%
);

$orane-button-background: linear-gradient(
  229.9deg,
  #ffc000 1.55%,
  #ff8a00 95.8%
);

$roboto-font-regular: "Roboto-Regular";
$roboto-font-black: "Roboto-Black";
$roboto-font-ligth: "Roboto-Light";
$roboto-font-medium: "Roboto-Medium";
$roboto-font-bold: "Roboto-Bold";

$proxima-font-regular: "ProximaNova";
$proxima-font-bold: "ProximaNova-Bold";
$proxima-font-black: "ProximaNova-Black";
$proxima-font-semiBold: "ProximaNova-Semibold";
